@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  /* background-image: url('../assets/Group.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}